.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {

}

.dialog a {
    text-decoration: none;
    color: black;
}

.dialog a.activeLink {
    color: gold;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.messages .message {

}
